<h1 style="text-align:center;margin-bottom:30px;">About US </h1>


<h2>What Is Angular?</h2>
<p>AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template
language and lets you extend HTML's syntax to express your application's components clearly and
succinctly. Angular's data binding and dependency injection eliminate much of the code you
would otherwise have to write. And it all happens within the browser, making it
an ideal partner with any server technology.</p>

<div>
		<p>This page descibe how we create angular js application from start to end.</p>


		<h2>main point of attraction are </h2>
		
		<ul>
			<li>* NG-APP</li>
			<li>* NG-Model</li>
			<li>* NG-View</li>
			<li>* NG-Controller</li>
		</ul>
		
	</div>
